* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background-color: #ececec;
    color: #001f3f;
}

.main_box {
    background-color: white;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    min-height: 450px;
}

#main_box_end, #main_box_end_mock {
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.1em;
}

#main_box_instructions img {
    margin-top: 10px;
    filter: brightness(90%);
    max-width: 100%;
}

#main_box_instructions div {
    font-style: italic;
}


#claim_span,
#ai_prediction_span,
#confidence_span {
    font-weight: normal;
}

#range_text {
    position: relative;
    top: -5px;
    margin-left: 10px;
}

input[type="button"] {
    background-color: white;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    color: #3B3B3B;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    padding: 6px 6px;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

input[type="button"]:hover:not([disabled]) {
    color: #fff;
    background-color: #1A1A1A;
}

.button-decision {
    font-size: 1.1em;
}

#button_user_decision_claimtrue:hover:not([disabled]),
#button_user_decision_claimtrue[activedecision="true"] {
    color: #fff;
    background-color: #347e32;
}

#button_user_decision_claimfalse:hover:not([disabled]),
#button_user_decision_claimfalse[activedecision="true"] {
    color: #fff;
    background-color: #e63232;
}

.color_correct {
    color: #347e32;
}

.color_incorrect {
    color: #e63232;
}

.question_tag_trivia {
    border-radius: 10px;
    padding: 2px;
    background-color: #ecdbc2;
    font-family: Georgia;
}

.question_tag_math {
    border-radius: 10px;
    padding: 2px;
    background-color: #c2ceec;
    font-family: Georgia;
}

.titlebar {
    background-color: white;
    border: 2px transparent;
    border-radius: 7px 7px 0 0;
    color: #3B3B3B;
    line-height: normal;
    margin: 0 0 0 0;
    font-size: 1.1em;
    cursor:pointer;
}

.titlebar:hover:not([disabled]),
.titlebar[activedecision="true"] {
    color: #fff;
    background-color: #4c2de7;
}

#ai_explanation_div {
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    margin: 0 0 0 0;
}


#ai_explanation_titlebar {
    line-height: normal;
    padding: 10px 10px 10px 20px;
}

#ai_explanation_dropdown {
    background-color: white;
    color: #3B3B3B;
    line-height: normal;
    margin: 0 0 0 10px;
    padding: 6px 6px;
}

#view_sources_div {
    border: 2px solid #1A1A1A;
    border-radius: 10px;
    margin: 0 0 0 0;
}

#view_sources_titlebar {
    line-height: normal;
    padding: 10px 10px 10px 20px;
    border-radius: 7px 7px 0 0;
}

.source_div {
    font-size: 1em;
    margin: 5px 5px 5px 5px;
    border: 2px solid #1A1A1A;
    border-radius: 10px;
}

#all_sources_div {
    margin: 10px 0;
    padding: 10px;
}

.source_titlebar {
    line-height: normal;
    margin: 0 0 0 0;
    padding: 5px 5px 5px 10px;
    border-radius: 3px 3px 0 0;
    cursor:pointer;
}

.source_div {
    border: 2px solid #1A1A1A;
    border-radius: 10px;
}

.source_span {
    font-size: 0.9em;
    padding: 5px 5px 5px 5px;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
  
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.vanish {
    border: white;
}

